<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!--数据库类型-->
    <add key="DBType" value="mysql"/>
    <!--数据库自增-->
    <add key="AutoIncrement" value="false"/>
  </appSettings>
  <connectionStrings>
    <!--数据库连接-->
    <!--<add name="DefaultConnection" connectionString="Data Source=sqlite.db;Version=3;"/>-->
    <add name="DefaultConnection" connectionString="server=localhost;database=dbhelper_test;user id=root;password=123456;character set=gbk;"/>
    <!--<add name="DefaultConnection" connectionString="server=192.168.137.62;database=dbhelper_test;user id=root;password=abc.123;character set=gbk;"/>-->
  </connectionStrings>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="200"/>
    </connectionManagement>
  </system.net>
</configuration>
